<div id="maindiv">
    Enter first number : <input type="number" [(ngModel)]="frst">
    <br><br>
    Enter second number : <input type="number" [(ngModel)]="scnd">
    <br><br>
        <button (click)="add(frst, scnd)"> + </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button (click)="diff(frst, scnd)"> - </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       
        <button (click)="mul(frst, scnd)"> * </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button (click)="dvd(frst, scnd)"> / </button>
</div>