h1{
     font-family: 'Ubuntu';
     font-weight: bold;
     background-color: #bf616c; 
     border: none;
     color: #fcecef;
     padding: 15px 32px;
     text-align: center;
     display: block;
     margin: 32px 320px;
     font-size: 22px;
}
p{
     font-family: 'Ubuntu';
     display: none;
     margin: 32px 320px;
     padding: 10px;
     border: 5px solid #bf616c;
     font-size: 22px;
     font-weight: bold;
     color: #5e81cc;
}
.container{
     margin-top: 12%;
}