<br><br>
<div>
     <br><br>
     <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter number for genre : </h3>
     <div class="menu">
          <b>
          <p>1 for Comedy</p>
          <p>2 for Action</p>
          <p>3 for Thriller</p>
          <p>4 for Horror</p>
          </b>
     </div>
     <br>
     <b><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Input String : </h3>
          <div class="inpt"><input type="number" [(ngModel)]="genre"></div></b>

     <br><br>
     <div class="movies" [ngSwitch]='genre'>
          <ul *ngSwitchCase = '1' >
               <li *ngFor="let c of comedy">
                    {{c.mv}}
               </li>
          </ul>

          <ul *ngSwitchCase = '2' >
               <li *ngFor="let a of action">
                    {{a.mv}}
               </li>
          </ul>

          <ul *ngSwitchCase = '3' >
               <li *ngFor="let t of thriller">
                    {{t.mv}}
               </li>
          </ul>

          <ul *ngSwitchCase = '4' >
               <li *ngFor="let h of horror">
                    {{h.mv}}
               </li>
          </ul>

          <ul *ngSwitchDefault >More movies coming soon!</ul>
     </div>
     <br><br><br>
</div>